DIV#crcHistoryBox {
	position: absolute;
}

DIV#crcHistoryBox DIV.tabBox {}
DIV#crcHistoryBox DIV.tabBox > DIV {}

DIV#crcHistoryBox DIV.tabBox.active {}
DIV#crcHistoryBox DIV.tabBox.active > DIV {}
	
DIV#crcHistoryBox DIV.bodyBox {
	background:#BBCCEE none repeat scroll 0% 50%;
	border:1px solid #667788;
	clear:both;
	display:block;
	overflow:hidden;
	padding:5px;
	position:relative;
	top:-1px;
	height:auto;
	width:auto;
	z-index:0;
}

DIV#crcHistoryBox DIV#crcHistoryData {
	background: #FFFFFF none repeat scroll 0%;
	border: 1px solid #667788;
	font-size: 12px;
	line-height: 12px;
	width: auto;
	whitespace: nowrap;
	xheight:100px;
	overflow-x: hidden;
	overflow-y: auto;
	padding:1px 5px;
}